In [1]:
import pandas as pd

## combine train data

In [19]:
with open ("de/train/train.en", "r") as myfile:
    data = myfile.read().splitlines()
    
with open ("de/train/train.de", "r") as myfile:
    data_de = myfile.read().splitlines()

In [20]:
df = pd.DataFrame(data)
df_de = pd.DataFrame(data_de)

In [21]:
df_de_train = pd.concat([df,df_de], axis = 1)

In [22]:
df_de_train.columns = ['en', 'de']

In [24]:
df_de_train.to_csv('de/train.csv', index=False)

In [25]:
d = pd.read_csv('de/train.csv')

## Combine Dev Data

In [7]:
with open ("de/validation/dev.en", "r") as myfile:
    data = myfile.read().splitlines()
    
with open ("de/validation/dev.de", "r") as myfile:
    data_de = myfile.read().splitlines()
    
df = pd.DataFrame(data)
df_de = pd.DataFrame(data_de)
df_de_dev = pd.concat([df,df_de], axis = 1)
df_de_dev.columns = ['en', 'de']

In [11]:
%pwd

'/Users/aakash/Desktop/Machine-Translation-ISWLT/data-mustc'

In [12]:
df_de_dev.to_csv('de/validation.csv', index=False)

In [14]:
d = pd.read_csv('de/validation.csv')

## Combine Test Data

In [16]:
with open ("de/test/tst-COMMON.en", "r") as myfile:
    data = myfile.read().splitlines()
    
with open ("de/test/tst-COMMON.de", "r") as myfile:
    data_de = myfile.read().splitlines()
    
df = pd.DataFrame(data)
df_de = pd.DataFrame(data_de)
df_de_tst = pd.concat([df,df_de], axis = 1)
df_de_tst.columns = ['en', 'de']

In [4]:
df_de_tst.to_csv('de/combined_en_de_tst.csv', index=False)

In [5]:
d = pd.read_csv('de/combined_en_de_tst.csv')

In [6]:
d.head()

,en,de
0,"Back in New York, I am the head of development...","Zu Hause in New York, bin ich Chef der Entwick..."
1,"When I'm not fighting poverty, I'm fighting fi...","Wenn ich nicht die Armut bek채mpfe, bek채mpfe ic..."
2,"Now in our town, where the volunteers suppleme...","Nun, in unserer Stadt, in der Freiwillige eine..."
3,I remember my first fire.,Ich erinnere mich an mein erstes Feuer.
4,"I was the second volunteer on the scene, so th...",Ich war der zweite Freiwillige an der Brandste...